<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Visit my personal website to explore my portfolio of skills and projects.">
    <meta name="google-site-verification" content="ozq4sniuSYzmbvi-A7uFu_Tn6Y4_MCbcHYNkkpjhcpo" />
    <meta name="author" content="Devcrud">
    <title>Stefan Shipinkoski Porfolio</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- font icons -->
    <link rel="stylesheet" href="./static/assets/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + Stefan main styles -->
	<link rel="stylesheet" href="./static/assets/css/johndoe.css">
</head>
<body>
	<div class="section contact" id="contact">
        <div id="map" class="map"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="contact-form-card">
                        <h4 class="contact-title">Send a message</h4>
                        Thank you, I will get back to you at my earliest convenience!
                    </div>
                        <a href="https://stefanshipinkoski.pythonanywhere.com/">
                             <button class="btn bg-primary w-lg" >Home Page</button>
                        </a>
                       
                </div>
                <div class="col-lg-4">
                    <div class="contact-info-card">
                        <h4 class="contact-title">Get in touch</h4>
                        <div class="row mb-2">
                            <div class="col-1 pt-1 mr-1">
                                <i class="ti-mobile icon-md"></i>
                            </div>
                            <div class="col-10 ">
                                <h6 class="d-inline">Phone : <br> <span class="text-muted"><a href="tel:+ 389 77 501 431">+ 389 77 501 431 </a></span></h6>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-1 pt-1 mr-1">
                                <i class="ti-map-alt icon-md"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="d-inline">Address :<br> <span class="text-muted"><a href="https://goo.gl/maps/YfiaEata5Scyop2S8"> Bitola, Macedonia.</a></span></h6>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-1 pt-1 mr-1">
                                <i class="ti-envelope icon-md"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="d-inline">Email :<br> <span class="text-muted"> <a href="mailto:stefansipinkoski@gmail.com">stefansipinkoski@gmail.com </a></span></h6>
                            </div>
                        </div>
                        <ul class="social-icons pt-4">
                            <li class="social-item"><a class="social-link text-dark" href="https://twitter.com/ship_stefan"><i class="ti-twitter" aria-hidden="true"></i></a></li>
                            <li class="social-item"><a class="social-link text-dark" href="https://github.com/stefanshipinkoski"><i class="ti-github" aria-hidden="true"></i></a></li>
                            <li class="social-item"><a class="social-link text-dark" href="https://www.linkedin.com/in/stefan-shipinkoski-80b047188/"><i class="ti-linkedin" aria-hidden="true"></i></a></li>
                        </ul> 
                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer class="footer py-3">
        <div class="container">
            <p class="small mb-0 text-light">
                &copy; <script>document.write(new Date().getFullYear())</script> All Rights Reserved By <a href="https://stefanshipinkoski.pythonanywhere.com/" target="_blank"><span class="text-danger" title="Bootstrap 4 Themes and Dashboards">Stefan Shipinkoski</span></a> 
            </p>
        </div>
    </footer>
</body>